<!--

 @Name：不落阁后台模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8" />
		<title>数据列表页面</title>
		<!-- layui.css -->
		<link href="/plug/layui/css/layui.css" rel="stylesheet" />

	</head>

	<body>

		<fieldset class="layui-elem-field">
			<legend></legend>
			<div class="layui-field-box">
				<div class="layui-btn-group demoTable">
					<button class="layui-btn" data-type="add">
					  <i class="layui-icon">&#xe608;</i> 添加
					</button>
					<button class="layui-btn layui-btn-danger" data-type="del"> 
					  <i class="layui-icon">&#xe640;</i> 删除
					</button>
				</div>
			</div>
		</fieldset>

		<table id="demo" class="layui-hide" lay-filter="_table"></table>

		<!-- layui.js -->
		<script src="/plug/layui/layui.js"></script>
		<!-- layui规范化用法 -->
		<script type="text/javascript">
			layui.use(['table', 'jquery'], function() {

				var table = layui.table;
				var $ = layui.$;
				var strFullPath = window.document.location.href;
				var strPath = window.document.location.pathname;
				var pos = strFullPath.indexOf(strPath);
				var prePath = strFullPath.substring(0, pos);
				var postPath = strPath.substring(0, strPath.substr(1).indexOf('/') + 1);
				var basePath = prePath;
				basePath = prePath + postPath;

				console.log(basePath);
				//第一个实例
				table.render({
					elem: '#demo',

					url: '/back/article/' //数据接口
						,
					page: true //开启分页
						,
					cols: [
						[ //表头
							{
								type: 'numbers'
							},
							{
								type: 'checkbox'
							},
							{
								field: 'title',
								title: '标题',
							}, {
								field: 'description',
								title: '描述',
							}, {
								field: 'addTimeStr',
								title: '添加时间',
							}, {
								field: 'keyWords',
								title: '关键词',
							}, {
								field: 'viewNum',
								title: '查看数',
							}, {
								field: 'commentNum',
								title: '评论数',
							}, {
								fixed: 'right',
								align: 'center',
								toolbar: '#bar'
							}

						]
					]
				});

				var active = {
					add: function() {
						//$('iframe',window.parent.document).attr('src',basePath + "/article/toAdd");
						//location.href = basePath + "/article/toAdd";

						var index = layer.open({
							area: ['950px', '400px'],
							type: 2,
							
							content: [basePath + "/article/toAdd", 'yes'] //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
						});
						layer.full(index);
					},
					del: function() {

					},
					isAll: function() {

					}
				};

				$('.demoTable .layui-btn').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});

				//监听工具条
				table.on('tool(_table)', function(obj) {
					var data = obj.data;
					if(obj.event === 'detail') {
						//layer.msg('ID：' + data.id + ' 的查看操作');
						layer.alert('行：<br/>' + JSON.stringify(data))
					} else if(obj.event === 'del') {
						layer.confirm('真的删除行么', function(index) {

							$.ajax({
								dataType: 'json',
								type: "DELETE",
								url: basePath + "/article/" + data.id, //路径  
								//data: {id:data.id},
								success: function(ret) { //返回数据根据结果进行相应的处理
									console.log(ret);
									if(ret.code == 0) {
										layer.closeAll('loading');
										layer.msg(ret.msg, {
											icon: 6,
											time: 1200
										}, function() {
											var index = parent.layer.getFrameIndex(window.name);
											parent.layer.close(index);
											location.href = basePath + '/article/toIndex?page=' + data.page;
										});
									} else {
										layer.closeAll('loading');
										layer.msg(ret.msg, {
											icon: 5,
											time: 1200
										});
									}
								}
							});
							//obj.del();
							//layer.close(index);
						});
					} else if(obj.event === 'edit') {
						//layer.alert('编辑行：<br/>' + JSON.stringify(data))
						var index = layer.open({
							area: ['950px', '400px'],
							type: 2,
							
							content: [basePath + "/article/toEdit?id=" + data.id, 'yes'] //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
						});
						layer.full(index);
					}
				});

			});
		</script>
		<script type="text/html" id="bar">
			<a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
			<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>

			<!-- 这里同样支持 laytpl 语法，如： -->
			{{# if(d.auth > 2){ }}
			<a class="layui-btn layui-btn-mini" lay-event="check">审核</a>
			{{# } }}
		</script>
	</body>

</html>